.btn{
    background-color:blue;
}


form{
    width: 100%;
    border-style:solid;
    border-width: 1px;
    border-color:black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.input{
    margin-bottom: 24px;
    border-radius: 25px;

}
/*.style{
    text-transform: capitalize;
    text-align: center;
    flex-direction: column;
    border-style: solid;
    display: grid;grid-template-columns: 1fr;
    border-color: brown;
}*/